.page {
  margin: 0 auto;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-image: var(--backgroung-image);
  background-color: var(--background-color);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  min-block-size: 100vh;
  min-height: 668px;
  padding: 20px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  color: var(--btn-color);
  text-align: center;
  border: 1px solid transparent;
  background: transparent;
  transition: border 0.3s ease;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border-color: var(--btn-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
  border-color: rgba(255, 0, 112, 0.4);
  cursor: pointer;
}

.decorative__element {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--btn-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.decorative__element::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.header__title {
  margin-left: -20px;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

.header__text {
  max-inline-size: 491px;
  justify-self: end;
  align-self: center;
}

.section {
  padding: 60px 20px;
}

.section__title {
  color: var(--btn-color);
  font-weight: 700;
  font-size: var(--font-size);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: var(--font-size);
}

.card__subtitle {
  font-weight: 400;
  font-size: var(--font-size);
}

.card__text {
  font-size: var(--font-size);
  color: var(--text-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.link:hover {
  border-bottom-color: var(--text-color);
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  border: 1px solid var(--text-color);
}

.section-why {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.section-why .section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-causes {
  padding-block-start: 80px;
  padding-block-end: 80px;
}

.section-causes .section__title {
  max-inline-size: 315px;
}

.section-causes .cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-block-start: 20px;
}

.section-advices {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.advice-article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advice-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-gallery {
  padding-block-end: 60px;
}

.section-gallery .section__title {
  margin-block-end: 20px;
}

.gallery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__image:nth-child(1) {
  grid-area: sunset;
}

.gallery__image:nth-child(2) {
  grid-area: ice-cream;
}

.gallery__image:nth-child(3) {
  grid-area: tape;
}

.gallery__image:nth-child(4) {
  grid-area: books;
}

.gallery__image:nth-child(5) {
  grid-area: street;
}

.footer {
  min-block-size: 100vh;
  min-height: 668px;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

@media (max-width: 1023px) {
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header__text {
    max-inline-size: 364px;
  }

  .section-causes .cards-container {
    grid-template-columns: 1fr;
  }

  .section-causes .section__title {
    max-inline-size: 236px;
  }

  .section-why {
    grid-template-columns: 1fr 2fr;
  }

  .section-advices {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 10px;
  }

  .header__title {
    margin-left: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__text {
    max-inline-size: 355px;
  }

  .section {
    padding: 40px 10px;
  }

  .section-why {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-causes {
    padding-block-start: 50px;
    padding-block-end: 50px;
  }

  .section-causes .section__title {
    max-inline-size: none;
  }

  .section-advices {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .section-gallery {
    padding-block-end: 40px;
  }

  .section-gallery .section__title {
    margin-block-end: 10px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer {
    padding: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorative__element {
    margin: 10px;
  }

  .frame::before {
    margin: 10px;
  }

  .frame::after {
    margin: 10px;
  }
}